<style>
    body {
      background-image: url(../../public/img/promotion.jpg);
    }
  </style>
  <!-- Topbar Start -->
  <div class="container-fluid bg-primary py-3"></div>
  <!-- Topbar End -->

  <!-- Navbar Start -->
  <div class="container-fluid position-relative nav-bar p-0">
    <div
      class="container-lg position-relative p-0 px-lg-3"
      style="z-index: 9"
    >
      <nav
        class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0 justify-content-center"
      >
        <div class="logo">
          <a href="/" class="navbar-brand mx-5">
            <img
              class="logo mb-3"
              src="../../public/img/Black_Ice_Cream_Cone_Logo__2_-removebg-preview.png"
              height="50"
              alt="castle logo"
            />
            <img
              class="logo"
              src="../../public/img/Black_Ice_Cream_Cone_Logo__1_-removebg-preview.png"
              height="50"
              alt="castle logo"
            />
          </a>
        </div>
      </nav>
    </div>
  </div>
  <!-- Navbar End -->