   <!-- Footer Start -->
   <div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-12 mb-4">
                <a href="/" class="navbar-brand mx-5">
                    <img
                      class="logo mb-3"
                      src="../../public/img/Black_Ice_Cream_Cone_Logo__2_-removebg-preview.png"
                      height="50"
                      alt="castle logo"
                    />
                    <img
                      class="logo"
                      src="../../public/img/Black_Ice_Cream_Cone_Logo__1_-removebg-preview.png"
                      height="50"
                      alt="castle logo"
                    />
                  </a>
            </div>
            <div class="col-12 mb-4">
                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-secondary btn-social mr-2" href="https://www.facebook.com/profile.php?id=100088879275878&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-secondary btn-social" href="https://instagram.com/cast.leice?igshid=ZDdkNTZiNTM="><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-12 mt-2 mb-4">
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                        <h5 class="font-weight-bold mb-2">Get In Touch</h5>
                        <p class="mb-2">Hilite city, Calicut , kerala</p>
                        <p class="mb-0">9876543210</p>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <h5 class="font-weight-bold mb-2">Opening Hours</h5>
                        <p class="mb-2">Mon – Sat, 8AM – 5PM</p>
                        <p class="mb-0">Sunday: Closed</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>