 <!-- Topbar Start -->
 <div class="container-fluid bg-primary py-3"></div>
 <!-- Topbar End -->

 <!-- Navbar Start -->
 <div class="container-fluid position-relative nav-bar p-0">
   <div
     class="container-lg position-relative p-0 px-lg-3"
     style="z-index: 9"
   >
     <nav
       class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0"
     >
     <%if (user){%>
      <style>
          .logom{
           position: absolute;
                  left: 33%;
                  top: 0;
          }
       </style>
       <div class=" ">
         <div class="navbar-brand logom ">
          <a href="/" class="mx-3">
              <img
                class="logo mb-3"
                src="../../public/img/Black_Ice_Cream_Cone_Logo__2_-removebg-preview.png"
                height="50"
                alt="castle logo"
              />
              <img
                class="logo"
                src="../../public/img/Black_Ice_Cream_Cone_Logo__1_-removebg-preview.png"
                height="50"
                alt="castle logo"
              />
            </a>
         </div>
       </div>
         <button
           type="button"
           class="navbar-toggler"
           data-toggle="collapse"
           data-target="#navbarCollapse"
         >
           <span class="navbar-toggler-icon"></span>
         </button>
         <div
           class="collapse navbar-collapse justify-content-evenly"
           id="navbarCollapse"
         >
    <div class="navbar-nav ml-auto mr-lg-5 pr-lg-5 ">
      <a href="/" class="nav-item nav-link ">Home</a>
      
      <a href="/product" class="nav-item nav-link mr-lg-5 ">Product</a>
    </div>
   
   
   <div class="navbar-nav mr-auto ml-lg-5 pl-lg-5 ">

    
    

 
     <a href="/favorite" class="nav-item nav-link "
       >
       <span class="position-absolute mb-3 ml-4 translate-middle badge rounded-pill bg-danger" id="favCount">
        <%= favCount %>
      </span>
       
       <i class="fa fa-heart" aria-hidden="true"></i
     ></a>
     <div>
      <a href="/cart" class="nav-item nav-link"
        >
      
        <span class="position-absolute mb-3 ml-4 translate-middle badge rounded-pill bg-danger" id="cartCount">
          <%= cartCount %>
        </span>
        
        <i class="fa fa-shopping-cart" aria-hidden="true"></i
     ></a>
     </div>
     <a href="/profile" class="nav-item nav-link"
       ><i class="fa fa-user" aria-hidden="true"></i
     ></a>

       <a href="/logout"> <button class="btn btn-secondary h-50 mt-3 ml-2">Logout</button></a>


      <%}else{%>
          <style>
              .logom{
               position: absolute;
                      left: 35%;
              }
           </style>
           <div class="navbar-brand logom px-lg-5 ">
             <div class="">
              <a href="/" class="mx-5 ">
                  <img
                    class="logo mb-3"
                    src="../../public/img/Black_Ice_Cream_Cone_Logo__2_-removebg-preview.png"
                    height="50"
                    alt="castle logo"
                  />
                  <img
                    class="logo"
                    src="../../public/img/Black_Ice_Cream_Cone_Logo__1_-removebg-preview.png"
                    height="50"
                    alt="castle logo"
                  />
                </a>
             </div>
           </div>
             <button
               type="button"
               class="navbar-toggler"
               data-toggle="collapse"
               data-target="#navbarCollapse"
             >
               <span class="navbar-toggler-icon"></span>
             </button>
             <div
               class="collapse navbar-collapse justify-content-evenly"
               id="navbarCollapse"
             >
        <div class="navbar-nav ml-lg-3  py-0">
          <a href="/" class="nav-item nav-link ">Home</a>
          
          <a href="/product" class="nav-item nav-link">Product</a>
        </div>
        

      


       <div class="navbar-nav mt-2 ml-lg-5 pl-lg-5 py-0">
        
     
        

         <a href="/login"> <button class="btn btn-secondary mb-1 align-items-center mr-lg-5" style="height:80% ;">Login</button></a>

         <%}%>


         </div>
       </div>
     </nav>
   </div>
 </div>
 <!-- Navbar End -->