<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
  <body>
    <%- include ('../partials/loginNav.ejs') %>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <h3 class="mb-5">Sign Up</h3>
                <% if(locals.err_msg) { %>
                <p class="text-danger"><%= err_msg %></p>
                <% } %>

                <form action="/submit" method="post" role="form">
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="typeEmailX-2"
                      name="username"
                      class="form-control form-control-lg text-center"
                      placeholder="User Name"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="typeEmailX-2"
                      name="email"
                      class="form-control form-control-lg text-center"
                      placeholder="Email ID"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="number"
                      id="typeEmailX-2"
                      name="phonenumber"
                      class="form-control form-control-lg text-center"
                      placeholder="Phone Number"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="typePasswordX-2"
                      name="password"
                      class="form-control form-control-lg text-center"
                      placeholder="password"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="typeEmailX-2"
                      name="confirmpassword"
                      class="form-control form-control-lg text-center"
                      placeholder="Confirm Password"
                    />
                  </div>

                  <div class="Signup">
                    <a href="/" class="d-flex justify-content-center"
                      ><button
                        class="btn btn-primary btn-lg btn-block w-50"
                        type="submit"
                      >
                        Sign Up
                      </button></a
                    >
                  </div>
                </form>

                <hr class="my-4" />
                <label for="">Already have account?</label>
                <a href="/login">Log In</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include ('../partials/footerLink.ejs') %>
  </body>
</html>
